*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #1e2122;
}

body {
  font-family: "Inria Sans", sans-serif;
}

h1,
button {
  font-family: "Inria Serif", serif;
}

label,
li {
  font-family: "Inria Sans", sans-serif;
}

body {
  padding: 8px;
}

button {
  border: 0;
  border-radius: 2px;
}
