body > *:not(.msg) {
  filter: blur(10px) !important;
}

.msg {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 9999 !important;
  background: white !important;
  padding: 1em !important;
  border-radius: 2px !important;
  box-shadow: 0 0 15px #a0a0a0 !important;
  max-width: 45vw !important;
}

.msg h1 {
  all: unset !important;
  display: block !important;
  font-family: "Inria Serif", serif !important;
  font-size: 1.4rem !important;
  font-weight: 700 !important;
  margin-bottom: 0.4em !important;
}

.msg button {
  all: unset !important;
  background-color: #8fc0a9 !important;
  font-family: "Inria Sans", sans-serif !important;
  border: 0 !important;
  border-radius: 2px !important;
  padding: 0.5em 0.8em !important;
  font-size: 0.8rem !important;
}

.msg p {
  all: unset;
  display: none;
  font-family: sans-serif !important;
  font-size: 0.9rem !important;
  margin-top: 0.2em !important;
}
