body {
  width: 230px;
  height: 332px;
  display: flex;
  margin-top: 8px;
  flex-direction: column;
  background-image: url("../images/floral.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 140px;
  background-position: bottom right;
}

.website-keyword-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.description {
  font-size: 1.2em;
}

.websites-btn {
  background-color: #8fc0a9;
  font-size: 1.3em;
  padding: 0.5em 1em;
}

.keywords-btn {
  background-color: #8fc0a9;
  font-size: 1.3em;
  padding: 0.5em 1em;
}

.pause-blocker-container {
  margin: 25px 0 10px 0;
}

.pause-blocker-btn {
  background-color: #8fc0a9;
  padding: 0.4em 0.8em;
  font-size: 1.3em;
  width: 100%;
}

.pause-blocker-msg {
  margin-bottom: 3px;
}

footer {
  margin-top: auto;
}

.pause-once-btn {
  background: white;
  padding: 0;
  color: #bf2020;
  text-decoration: underline;
  font-size: 1.2em;
}

.credits {
  text-decoration: underline;
  margin-top: 10px;
  font-family: "Inria Serif", sans-serif;
}

.credits a {
  color: black;
}

.credits mark {
  background-color: white;
}
