body {
  width: 230px;
  display: flex;
  margin-top: 8px;
  flex-direction: column;
  background-image: url("../images/floral.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 140px;
  background-position: bottom right;
}

h1 {
  margin: 5px;
  text-decoration: underline;
  text-decoration-color: #f06e45;
}

.keywords-btn {
  background-color: #8fc0a9;
  font-size: 1.3em;
  border-radius: 50px;
  padding: 0.5em 1em;
  margin-top: 0.8em;
  width: 100%;
}

.pause-blocker-container {
  margin: 17px 0 10px 0;
}

.pause-blocker-btn {
  background-color: #8fc0a9;
  padding: 0.4em 0.8em;
  border-radius: 50px;
  font-size: 1.3em;
  width: 100%;
}

.pause-blocker-msg {
  margin-bottom: 3px;
}

footer {
  margin-top: auto;
}

.pause-once-btn {
  display: none;
  background: white;
  padding: 0;
  color: #bf2020;
  text-decoration: underline;
  font-size: 1.2em;
  margin-top: 8px;
}

.credits {
  text-decoration: underline;
  margin-top: 7px;
  font-family: "Inria Serif", sans-serif;
  font-size: 0.6rem;
}

.credits a {
  color: black;
}

.credits mark {
  background-color: white;
}
