*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #1e2122;
  background-color: #fcf9ed;
}

body {
  font-family: "Inria Sans", sans-serif;
}

h1,
button {
  font-family: "Inria Serif", serif;
}

label,
li {
  font-family: "Inria Sans", sans-serif;
}

body {
  padding: 8px;
}

button {
  border: 0;
  border-radius: 4px;
}

.exit-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  padding: 0;
}

.go-back-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  padding: 0;
}

.go-back-btn a {
  text-decoration: none;
  color: black;
  font-size: 1.12em;
}

.go-back-btn i {
  padding-right: 4px;
}
